header {
  height: 80px;
  margin-top: -5px;
  /* box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2); */
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
}

.logo {
  height: 45px;
  width: 45px;
  border-radius: 8px;
  margin-top: 10px;
}

.header_links {
  margin-left: 26%;
  margin-top: 14px;
}

.link {
  color: rgb(79, 69, 69);
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.place {
  margin-top: 40px;
  font-weight: 400;
  font-size: 14px;
  margin-left: 40px;
}

.link:hover {
  color: red;
}

.place:hover {
  color: red;
}

/* .container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
} */

.content-container {
  width: 86%;
  margin-left: 7%;
}

.dishes div {
  margin-bottom: 100px;
}

.dishes img {
  width: 100%;
  max-width: 288px;
  height: auto;
}

.restaurant_logo {
  border-radius: 12px;
}

.restaurant-item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.restaurant-item:hover {
  transform: scale(0.95);
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);  */
}

.restaurant-item:hover img {
  transform: scale(0.95);
}

.footer_links {
  height: 50px;
  width: 400px;
  border: 1px solid rgba(128, 128, 128, 0.319);
  margin-right: 20px;
  border-radius: 8px;
}

.footer_links:hover {
  cursor: pointer;
}

.footer-conatainer {
  background-color: rgb(240, 240, 245);
  width: 100%;
}
